@model AbishkarFoundation.Web.ViewModel.Module.TestSetViewModel
@{
    ViewData["Title"] = "Module";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="breadcrumb"><a href="@Url.Action("Index", "Teacher")">Home</a><span>/</span><span>Module</span></div>
<div class="card card-login mx-auto mt-5 login dataDiv">
    <div class="card-header">Modules</div>
    <div class="card-body">
        <div><a style="float:right" class="btn btn-success" href="@Url.Action("AddModule","Module")">Add Module</a></div>
        <div class="col-lg-12">
            @if (Model.TestSets != null && Model.TestSets.Any())
            {<table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Test Name</th>
                            <th>Status</th>
                            <th>Active Upto</th>
                            <th>Questions</th>
                            <th>Attender</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TestSets)
                        {
                            <tr>
                                <td>@item.TestName</td>
                                <td>Status</td>
                                <td>Active Upto</td>
                                <td><a href="@Url.Action("AddModule","Module")"><span style="text-decoration:underline">@item.NumberOfQuestions</span></a></td>
                                <td><a href="@Url.Action("AddModule","Module")"><span style="text-decoration:underline">@item.NumberOfAttender</span></a></td>
                                <td><a style="float:left" class="btn btn-success" href="@Url.Action("AddModule","Module",new { id=item.TestSetId})">Edit</a></td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
            else
            {
                <div class="pageMsg pageMsg-info">You dont have any module</div>

            }
        </div>
    </div>
</div>

