@model AbishkarFoundation.Web.ViewModel.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
<div class="card card-login mx-auto mt-5 login">
    <div class="card-header">Login</div>
    <div class="card-body">
        @using (Html.BeginForm("UserLogin", "Account", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter Email or User name",  @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { placeholder = "Enter Password", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Login" />
        }

        <div class="text-center">
            <a href="@Url.Action("Signup","Account")" style="display: block!important">Register an Account</a>
            <a c href="forgot-password.html" style="display: block!important">Forgot Password?</a>
        </div>
    </div>
</div>
